* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000;
}

html {
  font-family: 'Roboto Mono', monospace;
}

span {
  display: block;
  text-align: center;
}